<button id="langs-button" popovertarget="langs-overlay" class="Button AppHeader--button Button--secondary d-flex px-2" type="button"
    aria-haspopup="menu" aria-controls="langs-overlay" aria-labelledby="tooltip-langs-button">
    {{ "/static/reddit/lang-17.svg" | readFile | safeHTML }}
    {{ "/static/primer/triangle-down-16.svg" | readFile | safeHTML }}
</button>

<tool-tip id="tooltip-langs-button" for="langs-button" class="position-absolute sr-only" popover="manual" data-direction="se" data-type="label" aria-hidden="true" role="tooltip">
    {{ T "navigation.change_lang" }}
</tool-tip>

<anchored-position id="langs-overlay" anchor="langs-button" anchor-offset="normal" align="end" popover="auto" aria-labelledby="langs">
    <div class="Overlay Overlay--size-auto p-2">
        <ul class="ActionListWrap" aria-label='{{ T "arias.langs" }}'>
            {{ range .Translations }}
                <li class="ActionListItem" aria-label="{{ or .Language.LanguageName .Language.Lang }}">
                    <a href="{{ .RelPermalink }}" hreflang="{{ .Language.LanguageCode }}" class="ActionListContent d-flex flex-items-center">
                        {{ with .Language.Params.Pre }}
                            <span class="ActionListItem-visual ActionListItem-visual--leading">{{ . | readFile | safeHTML }}</span>
                        {{ end }}
                        <span class="ActionListItem-label">{{ or .Language.LanguageName .Language.Lang }}</span>
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>
</anchored-position>
