<div class="Overlay--hidden" data-modal-dialog-overlay>
    <modal-dialog id="search-overlay" class="Overlay Overlay--width-xlarge Overlay--height-fit-content Overlay--max-height-xlarge flex-column mx-auto mt-2 position-absolute color-bg-default color-shadow-large border" role="dialog"
        aria-modal="true" aria-label='{{ T "search.dialog" }}'>
        <div class="Overlay-body Overlay-body--paddingNone d-flex flex-column color-bg-default rounded-3 row-gap-3">
            <!-- overlay search -->
            <div class="FormControl FormControl-input-wrap" aria-label='{{ T "search.form" }}'>
                <span class="FormControl-input-leadingVisualWrap octicon">{{ "/static/primer/search-16.svg" | readFile | safeHTML }}</span>
                <input id="search-input" class="FormControl-input" placeholder='{{ T "search.input" }}'>
                <button id="search-clear" class="FormControl-input-trailingAction octicon" aria-label='{{ T "search.clear" }}'>
                    {{ "/static/primer/x-16.svg" | readFile | safeHTML }}
                </button>
            </div>

            <!-- overlay search results -->
            <ul id="search-results" class="ActionListWrap flex-1 overflow-auto scrollbar-thin" role="listbox" aria-label='{{ T "search.results" }}'></ul>
        </div>

        <!-- overlay footer with search syntax -->
        <div class="Overlay-footer Overlay-footer--divided">
            <a href="https://www.fusejs.io/examples.html#extended-search" class="Link text-small ml-2" target="_blank" rel="noopener noreferrer">{{ T "search.syntax" }}</a>
        </div>
    </modal-dialog>
</div>
