{{ $src := .src }}
{{ $remote := hasPrefix $src "https://" }}

{{ $resource := dict }}
{{ if $remote }}
    {{ with try (resources.GetRemote $src) }}
        {{ with .Err }}
            {{ errorf "%s" . }}
        {{ else with .Value }}
            {{ $resource = .Content }}
        {{ else }}
            {{ errorf "Unable to get remote resource %q" $src }}
        {{ end }}
    {{ end }}
{{ else }}
    {{ with try ($src | readFile) }}
        {{ with .Err }}
            {{ errorf "%s" . }}
        {{ else with .Value }}
            {{ $resource = . }}
        {{ else }}
            {{ errorf "Unable to get resource %q" $src }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $base := path.BaseName $src }}
{{ $oldsvg := "<svg (.*)?>((.|\n)*)</svg>" }}

<!-- define all attributes -->
{{ $attrs := slice }}
{{ $attrs = $attrs | append (printf "class=%q" (print "octicon" " " $base)) }}
{{ if .height }}{{ $attrs = $attrs | append (printf "height=%q" .height) }}{{ end }}
{{ if .width }}{{ $attrs = $attrs | append (printf "width=%q" .width) }}{{ end }}

{{ if .tooltip }}
    {{ $id := replace (.tooltip | lower) " " "-" }}
    {{ $attrs = $attrs | append (printf "id=%q" $id) }}
    {{ $attrs = $attrs | append (printf "aria-labelledby=%q" (print "tooltip-" $id)) }}

    <tool-tip id='tooltip-{{ $id }}' for='{{ $id }}' class="position-absolute sr-only" popover="manual" data-direction="sw" data-type="label" aria-hidden="true" role="tooltip">
        {{ .tooltip }}
    </tool-tip>
{{ end }}

{{ $str := "" }}
{{ range $attrs }}{{ $str = print $str " " . }}{{ end }}
{{ $newsvg := printf `<svg %s ${1}>${2}</svg>` $str }}

{{ replaceRE $oldsvg $newsvg $resource | safeHTML }}
